<h1 class="display-4 step">Write Blog Posts</h1>
<form action="/blog/create" method="post">
    <label>Title</label>
    <input type="text" name="title" class="text form-control">
    <label>Body</label>    
    <textarea type="text" name="body" class="text form-control"></textarea>
    <input type="submit" value="Send" class="btn btn-primary btn-sm">
</form>