<h1 class="display-4 step">Write Blog Posts</h1>
<form action="blog/" methoda="post">
    <input type="text" name="title" class="text form-control">
    <textarea type="text" name="body" class="text form-control"></textarea>
    <input type="submit" class="btn btn-primary btn-sm">
</form>